# Mac specific
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual envrionment
.env/
env/
.venv/

# VScode
.vscode/settings.json

# Testing
.coverage
.pytest_cache/

# Linting outputs
.ruff_cache/

# Compilation
dist/

## testing
*-test/
*-tests/
graphqler-output/
graphqler-output-no-llm/

# Codeql
codeql/

# For test-apis
node_modules/
ci-test-api-security-api/
ci-test*
data.db

# Paper stuff
paper/
experiments/
