# Mac specific
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual envrionment
.env/
env/
.venv/

# VScode
.vscode/settings.json

# Testing
.coverage
.pytest_cache/

# Linting outputs
.ruff_cache/

# Compilation
dist/

## Omar's personal testing
omar-test*/
anilist-test/
finland-test/
*-test/
*-test-1/
ci-test-*
