astroid==2.9.0
attrs==21.2.0
autopep8==1.6.0
backports.entry-points-selectable==1.1.1
black==22.3.0
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
coverage==6.2
distlib==0.3.3
docopt==0.6.2
filelock==3.4.0
flake8==4.0.1
identify==2.4.0
idna==3.3
importlib-metadata==4.8.2
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
networkx==2.6.3
nodeenv==1.6.0
num2words==0.5.10
packaging==21.3
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.15.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==2.12.1
pyparsing==3.0.6
pytest==6.2.5
pytest-cov==3.0.0
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
six==1.16.0
toml==0.10.2
tomli==1.2.2
typed-ast==1.5.0
typing-extensions==4.0.0
urllib3==1.26.7
virtualenv==20.10.0
wrapt==1.13.3
zipp==3.6.0
