# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Debugging / VSCode directories
.vscode/
.idea/

# Output of 'npm pack'
*.tgz

# Yarn integrity file
.yarn-integrity

# dotenv environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# User-specific files
npm-debug.log
yarn-error.log
data.db
