name: Unit Tests
on: [push, pull_request]

jobs:
  build:
    name: Run GraphQLer Unit Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup timezone
      uses: zcong1993/setup-timezone@master
      with:
        timezone: UTC

    - name: Set up Python 3.12
      uses: actions/setup-python@v2
      with:
        python-version: 3.12

    - name: Set up poetry
      run: |
        pip install poetry
        poetry install

    - name: Install Python dependencies
      run: |
        sudo apt install -y $(grep -o ^[^#][[:alnum:]-]* "packages.list")

    - name: Test with pytest
      run: |
        poetry run pytest tests/unit/ --exitfirst --verbose --failed-first --cov=. --cov-report html
